---
import HomeLayout from "@/layouts/HomeLayout.astro"
---

<HomeLayout title="¡Bienvenido!">
  <main class="relative z-10 flex h-full w-full flex-col items-center justify-center gap-4">
    <h1 class="font-h text-6xl font-bold tracking-wide text-white">Gerencia de la Informática</h1>
    <p class="font-b text-xl text-white/70">Blog con artículos informativos sobre gerencia de la informática.</p>
    <button class="glass font-b mt-10 rounded-full px-10 py-3 font-semibold text-white transition-all hover:scale-105">
      Ver Articulos
    </button>
  </main>
</HomeLayout>
