---
const currentYear = new Date().getFullYear()
const authorName = 'Mauricio "ImMau14" Rodríguez'
const projectRepoUrl = "https://github.com/ImMau14/gerencia-blog"
---

<footer class="footer-glass z-50 mt-auto flex h-25 w-full items-center justify-center border-x-0 text-white sm:h-20">
  <div class="flex h-full w-full flex-col items-center justify-center gap-3 px-6 sm:flex-row sm:justify-between">
    <div class="text-center text-sm opacity-80 sm:text-left">
      © {currentYear}
      {authorName}. Todos los derechos reservados.
    </div>

    <div class="flex items-center gap-3">
      <a
        href={projectRepoUrl}
        target="_blank"
        rel="noopener noreferrer"
        class="transition-opacity hover:opacity-80"
        aria-label="Repositorio en GitHub"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 25 25"
          fill="currentColor"
          class="inline-block"
        >
          <path
            d="M12 0C5.37 0 0 5.37 0 12c0 5.302 3.438 9.8 8.205 11.387.6.113.82-.26.82-.58 0-.287-.01-1.05-.015-2.06-3.338.726-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.756-1.333-1.756-1.09-.745.082-.73.082-.73 1.205.085 1.838 1.237 1.838 1.237 1.07 1.834 2.807 1.304 3.492.997.108-.775.418-1.305.762-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.468-2.38 1.235-3.22-.123-.3-.535-1.52.117-3.16 0 0 1.008-.322 3.3 1.23.96-.267 1.98-.4 3-.405 1.02.005 2.04.138 3 .405 2.29-1.552 3.297-1.23 3.297-1.23.653 1.64.24 2.86.118 3.16.768.84 1.233 1.91 1.233 3.22 0 4.61-2.804 5.62-5.476 5.92.43.37.824 1.102.824 2.22 0 1.602-.015 2.894-.015 3.287 0 .322.216.698.83.578C20.565 21.795 24 17.3 24 12c0-6.63-5.37-12-12-12z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</footer>
