---
import "@/tailwind.css"

import Header from "@/components/Header.astro"
import Footer from "@/components/Footer.astro"
import DustParticles from "@/components/DustParticles.astro"

import { ClientRouter } from "astro:transitions"

export interface Props {
  title: string
  mainClass?: string
  bottomMargin?: boolean
}

const { title, mainClass, bottomMargin = true } = Astro.props
const itsProduction: boolean = import.meta.env.PROD

const onlyFadeOut = {
  forwards: {
    old: {
      name: "fade-out",
      duration: "0.2s",
      easing: "ease-in",
      fillMode: "forwards",
    },
    new: {
      name: "none",
      duration: "0s",
    },
  },
  backwards: {
    old: { name: "fade-out", duration: "0.2s" },
    new: { name: "none", duration: "0s" },
  },
}
---

<html lang="es" class="h-full w-full bg-mist-950">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>

  <body class="h-full w-full overflow-x-clip">
    <Header transition:persist="header" />

    <div class="relative w-full">
      <div class="spotlight-top"></div>
      <DustParticles transition:persist speed={0.3} opacity={0.7} count={20} active={itsProduction} />

      <main
        transition:animate={onlyFadeOut}
        class:list={[
          "relative z-10 flex w-full flex-col items-center gap-6",
          "px-4 sm:px-10 md:px-32 xl:px-72",
          "pt-[20vh] sm:pt-[25vh]",
          mainClass,
          { "mb-[15vh]": bottomMargin },
        ]}
      >
        <slot />
      </main>
    </div>

    <Footer transition:persist="footer" />
  </body>
</html>

<style is:global>
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
